---
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import FormattedDate from '../../../components/FormattedDate.astro';
import Header from '../../../components/Header.astro';
import Sidebar from '../../../components/Sidebar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const categories = [...new Set(posts.map((post) => post.data.category))];

    return categories.map((category) => {
        const filtered = posts
            .filter((post) => post.data.category === category)
            .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
        return {
            params: { category },
            props: { posts: filtered, category },
        };
    });
}

const { posts, category } = Astro.props;
const base = import.meta.env.BASE_URL; 
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={`${category} | ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
        <style>
            .layout {
                display: flex;
                width: 960px;
                margin: 0 auto;
                gap: 2em;
            }
            .content {
                flex: 1;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            ul li {
                margin-bottom: 1.5em;
            }
            ul li a {
                text-decoration: none;
                display: block;
            }
            .title {
                margin: 0;
                color: rgb(var(--black));
                line-height: 1;
            }
            .date {
                margin: 0;
                color: rgb(var(--gray));
            }
            ul li a:hover .title,
            ul li a:hover .date {
                color: rgb(var(--accent));
            }
            h1 {
                margin-top: 1em;
            }
        </style>
    </head>
    <body>
        <Header />
        <main class="layout">
            <Sidebar />
            <div class="content">
                <h1>{category}</h1>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`${base}blog/${post.id}/`}>
                                    <p class="title">{post.data.title}</p>
                                    <p class="date">
                                        <FormattedDate date={post.data.date} />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </main>
        <Footer />
    </body>
</html>